// Base 16 {{scheme-name}} Color Configuration - Windows Terminal
// Colors made by {{scheme-author}}
{
  "name": "{{scheme-name}}",
  "background":    "#{{base00-hex}}",
  "foreground":    "#{{base05-hex}}",
  "black":         "#{{base00-hex}}",
  "red":           "#{{base08-hex}}",
  "green":         "#{{base0B-hex}}",
  "yellow":        "#{{base0A-hex}}",
  "blue":          "#{{base0D-hex}}",
  "purple":        "#{{base0E-hex}}",
  "cyan":          "#{{base0C-hex}}",
  "white":         "#{{base05-hex}}",
  "brightBlack":   "#{{base03-hex}}",
  "brightRed":     "#{{base09-hex}}",
  "brightGreen":   "#{{base01-hex}}",
  "brightYellow":  "#{{base02-hex}}",
  "brightBlue":    "#{{base04-hex}}",
  "brightPurple":  "#{{base06-hex}}",
  "brightCyan":    "#{{base0F-hex}}",
  "brightWhite":   "#{{base07-hex}}"
}
